body {
	margin: 0;
	padding: 0;
}
* {
	font-family: 'Josefin Sans', sans-serif;
}
.c-code {
	display: none;
}
.tcw {
	width: 20%;
	float: left;
}
.tcw .wt {
	padding: 10px;
	cursor: pointer;
}
.tcw .wt:active,
.tcw .wt:focus {
	/*-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;*/
	animation: sk-bouncedelay 2s linear;
}
.white {
	color: rgba(255, 255, 255, 0.3411764705882353);
}
@-webkit-keyframes sk-bouncedelay {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes sk-bouncedelay {
	from { opacity: 1; }
	to { opacity: 0; }
}